* {
    box-sizing: border-box;
}

body {
    background: $primary;
    color: $white;
    font-family: $opensans;
    font-size: 18px;

    &.home {
        background: $white;
        color: $darkgrey;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

img {
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
}

strong {
    font-weight: 600;
}

.logo {
    color: $white;
    font-size: 32px;
    font-style: italic;
    font-weight: 600;
    img {
        height: 40px;
        display: block;
        margin-top: 5px;
    }
}

ul {
    margin: 0;
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

.light {
    color: $light;
}

small {
    font-size: 14px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.padding-medium {
    padding: 20px;
}

// Borders
.border-bottom {
    border-bottom: 1px solid $white;
}

.is-hidden {
    display: none;
}