* {
    box-sizing: border-box;
}

body {
    background: $primary;
    color: $white;
    font-family: $opensans;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

.logo {
    height: auto;
    max-width: 125px;
}

ul {
    margin: 0;
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

.light {
    color: $light;
}

strong {
    font-family: $anton;
}

small {
    font-size: 14px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.padding-medium {
    padding: 20px;
}

// Backgrounds
.white-bg {
    background: $white;
    color: $darkgrey;
}

// Borders
.border-bottom {
    border-bottom: 1px solid $white;
}

.is-hidden {
    display: none;
}