@import '//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css';
@import '//fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i';

// Fonts
$anton: 'Anton', sans-serif;
$opensans: 'Open Sans', sans-serif;

// Layout
$container: 1200px;
 
// Colours
$black: #000000;
$white: #ffffff;
$light: #FA8D8D;

$lightgrey: #e6e7e8;
$grey: #aaaaaa;
$darkgrey: #4a4a4a;

$primary: #c32905;

//Breakpoints
$desktop: "(min-width: 1200px)";
$laptop: "(max-width: 1200px)";
$tablet: "(max-width: 1050px)";
$mobile: "(max-width: 580px)";
