@import '//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css';
@import '//fonts.googleapis.com/css?family=Anton|Open+Sans';

// Fonts
$anton: 'Anton', sans-serif;
$opensans: 'Open Sans', sans-serif;

// Layout
$container: 1200px;
 
// Colours
$black: #000000;
$white: #ffffff;
$light: #91acd7;

$lightgrey: #e6e7e8;
$darkgrey: #4a4a4a;

$primary: #1b75bc;

//Breakpoints
$desktop: "(min-width: 1200px)";
$laptop: "(max-width: 1200px)";
$tablet: "(max-width: 1050px)";
$mobile: "(max-width: 580px)";
