%btn {
    background: $lightgrey;
    border-radius: 100px;
    border: none;
    color: $primary;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    outline: none;
    padding: 6px 12px;
    @include transition(all .3s ease-in-out);
}

.btn {
    @extend %btn;

    &-large {
        @extend %btn;
        font-size: 18px;
    }

    &-inline {
        @extend %btn;
        background: transparent;
        border: 2px solid $primary;
        font-size: 14px !important;
        font-family: $opensans;
        font-weight: 600;
        font-size: inherit;
        text-transform: none;

        &:hover {
            background: $primary;
            color: $white;
        }
    }

    &-inline-dark {
        @extend %btn;
        background: $primary;
        border: 0;
        border-radius: 0;
        color: $white !important;
        font-family: $opensans;
        font-size: inherit;
        text-transform: none;

        &:hover {
            background: $light;
            color: $primary !important;
        }
    }

    &-large-green {
        @extend %btn;
        background: $primary;
        border-radius: 0;
        color: $white;
        display: inline-block;
        font-size: 24px;
        font-weight: 600;
        padding: 10px 22px;
        @include transition(all .3s ease-in-out);
        
        &:hover {
            background: darken($primary, 8%);
        }
    }
}
