// Home
.hero {
    background: url('../img/meeting.jpg') no-repeat scroll center center $light;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    padding: 20% 0;
    position: relative;

    .logo {
        display: block;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 450px;
    }
}

// Nav
.nav-bar {
    border-bottom: 1px solid $darkgrey;
    display: inline-block;
    width: 100%;

    a {
        display: inline-block;
        color: $darkgrey;
        padding: 14px 20px;
        text-decoration: none;
        @include transition(all .3s ease-in-out);

        &:hover {
            background: $lightgrey;
        }
    }
}

// Intro
.intro {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;

    h1, h2, h3 {
        font-weight: 200;
        margin-bottom: 10px;
    }

    h1 {
        color: $primary;
    }

    h2 {
        color: $darkgrey;
        font-size: 20px;
    }
}

// Pods
.card {
    position: relative;
    background-color: white;
    text-align: center;
    border-bottom: 2px solid $primary;
    box-shadow: 0px 2px 3px rgba(#000, .2);
    @include transition(all .3s ease);
    
    figure {
        border: 1px solid $lightgrey;
        height: 230px;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: 100%;
        
        img {
            display: block;
            left: 50%;
            height: auto;
            min-height: 100%;
            min-width: 100%;
            position: absolute;
            top: 50%;
            width: auto;
            @include transform(translate3d(-50%, -50%, 0));
        }
    }

    .card-bottom {
        padding: 20px;

        p {
            margin: 0 0 10px;
        }
    }

    h3 {
        font-size: 28px;
        font-weight: 200;
        color: $primary;
        line-height: 1;
        margin-bottom: 15px;
    }
}