section {
	&.row {
        display: inline-block;
        margin-bottom: 40px;
        width: 100%;
    }
}

// Backgrounds
.white-bg {
    background: $white;
    color: $darkgrey;
}

.lightgrey-bg {
    background: $lightgrey;
    color: $darkgrey;
}