form {
    input, select, textarea {
        display: inline-block;
        border: 1px solid $primary;
        font-size: 18px;
        margin-bottom: 10px;
        outline: none;
        padding: 8px;
        resize: none;
        width: 100%;
        @include appearance(none);
    }
}

.input-wrapper {
    position: relative;
    .error {
        border: 1px solid red;
    }
    .error-msg {
        position: absolute;
        display: block;
        bottom: 13px;
        right: 0;
        background: red;
        padding: 7px;
        color: #fff;
        font-size: 13px;
        line-height: 1;
    }
}