.menu-row {
    display: inline-block;
    margin-bottom: 50px;
    width: 100%;
}

.box-nav {
    width: 100%;

    h2 {
        @extend strong;
        display: inline-block;
        margin-bottom: 30px;

        a {
            color: $white;
            font-size: 22px;
            text-decoration: none;
        }
    }

    &-link {
        border-right: 1px solid $light;
        color: $white;
        float: left;
        padding: 40px;
        text-align: center;
        text-decoration: none;
        width: 33%;
        @include transition(all .3s ease-in-out);

        &:last-child {
            border-right: none;
        }

        &:hover {
            background: $white;
            box-shadow: 0 0 20px -2px rgba(0,0,0,0.5);
            color: $primary;
        }
    }
}

// Side nav
.side-nav {
    a {
        border-bottom: 1px solid $white;
        color: $white;
        display: block;
        overflow: hidden;
        padding: 10px 0;
        position: relative;
        text-decoration: none;
        width: 100%;
        @include transition(all .3s ease-in-out);

        &:after {
            content: "";
            position: absolute;
            display: inline-block;
            width: 0;
            height: 0;
            right: -10%;
            top: 0;
            border-style: solid;
            border-width: 20px 10px 20px 0;
            border-color: transparent $white transparent transparent;
            @include transition(all .3s ease-in-out);
        }

        &.active {
            &:after {
                right: 0;
            }
        }

        &:hover {
            background: rgba(255, 255, 255, 0.2);
            padding-left: 10px;
        }
    }
}