.menu-row {
    display: inline-block;
    margin-bottom: 50px;
    width: 100%;
}

.top-nav {
    @extend .menu-row;
    border-bottom: 1px solid $primary;
    margin-bottom: 30px;

    a {
        background: transparent;
        color: $primary;
        display: inline-block;
        padding: 10px 20px;
        @include transition(all .3s ease-in-out);

        &:hover {
            background: $lightgrey;
        }
    }
}

// Side nav
.side-nav {
    a {
        border-bottom: 1px solid $white;
        color: $white;
        display: block;
        overflow: hidden;
        padding: 10px 0;
        position: relative;
        text-decoration: none;
        width: 100%;
        @include transition(all .3s ease-in-out);

        &:after {
            content: "";
            position: absolute;
            display: inline-block;
            width: 0;
            height: 0;
            right: -10%;
            top: 0;
            border-style: solid;
            border-width: 20px 10px 20px 0;
            border-color: transparent $white transparent transparent;
            @include transition(all .3s ease-in-out);
        }

        &.active {
            &:after {
                right: 0;
            }
        }

        &:hover {
            background: rgba(255, 255, 255, 0.2);
            padding-left: 10px;
        }
    }
}